*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

hr{
    margin-left: 1cm;
    margin-right: 1cm;
}

/* body */
body{
    background-color: rgb(230, 230, 230);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* body */

.contenedor-global{
}

/* header */
header{
    text-align: center;
}

header img{
    width: 2.5cm;
}
/* header */


/* vínculos */
.vinculos-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vinculos ul{
    list-style: none;
}

.vinculos ul li{
    margin: 5mm;
}

.vinculos ul img{
    width: 1.2cm;
    margin-right: 2mm;
}

.vinculos ul li a{
    color: white;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3mm;
    border-radius: .5cm
    box-shadow: 0px 0px 20px rgb(173, 172, 172);
    opacity: 50%;
    transition: all .2s;
}

.vinculos ul li a:hover{
    opacity: 100%;
}

    /* marketplace */
    .vinculos--marketplace{
        background-color: rgb(64,128,254);
    }
    /* marketplace */

    /* whatsapp */
    .vinculos--whatsapp{
        background-color: rgb(2,230,118);
    }
    /* whatsapp */

    /* instagram */
    .vinculos--instagram{
        background-color: rgb(210,0,105); 
    }
